<!-- social-login.component.html -->
<div class="flex gap-2 items-center">
    @for (provider of providers; track provider) {
    <form id="socialForm-{{provider}}" method="post" class="w-1/2"
        [action]="'http://localhost:8000/api/_allauth/browser/v1/auth/provider/redirect'">
        <input type="hidden" name="provider" [value]="provider" />
        <input type="hidden" name="process" value="login" />
        <input type="hidden" name="callback_url" [value]="callbackUrl" />
        <input type="hidden" name="csrfmiddlewaretoken" />
        <button hlmBtn type="button" variant="outline" class="rounded-full w-full" size="lg"
            (click)="onProviderClick(provider)">
            <img [src]="provider === 'google' ? googleIconLogo : provider === 'facebook' ? facebookIconLogo : githubIconLogo"
                alt="" width="14" height="14" />
            {{ provider | titlecase }}
        </button>
    </form>
    }
</div>